<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- Bootstrap styles cdn link -->
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
			crossorigin="anonymous"
		/>
		<!-- Bootstrap icons -->
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
		/>
		<!-- customized styles link -->
		<link rel="stylesheet" href="/stylesheets/styles.css" />

		<!-- Bootstrap scripts -->
		<script
			src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
			integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
			integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
			crossorigin="anonymous"
		></script>
		<!-- Font Awesome -->

		<script
			src="https://kit.fontawesome.com/bf5071f3ea.js"
			crossorigin="anonymous"
		></script>
		<title>geojson File Upload</title>
	</head>
	<body>
		<!-- Nav Bar -->
		<div class="container-fluid">
			<div class="navbar navbar-expand-lg navbar-dark bg-dark">
				<a href="/" class="navbar-brand"
					><img
						src="/images/planet.svg"
						alt="NASA-logo"
						style="height: 50px; width: auto; color: #fefbf3"
						class="NASA-img"
					/>
					<span class="NASA-img">UDAT</span></a
				>
				<button
					class="navbar-toggler"
					type="button"
					data-bs-toggle="collapse"
					data-bs-target="#navbarTogglerDemo01"
					aria-controls="navbarTogglerDemo01"
					aria-expanded="false"
					aria-label="Toggle navigation"
				>
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
					<ul class="navbar-nav ms-auto">
						<li class="nav-item">
							<a class="nav-link" href="/upload">upload</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<h1 style="padding: 20px">geojson file Upload</h1>
		<form
		    action=""
			method="POST"
			enctype="multipart/form-data"
			style="padding: 5px 20px"
			onsubmit="createMap()"
		>
			<input
				type="file"
				name="geojsonFile"
				id="geojsonfile"
				onchange="return fileValidation()"
				class="form-control"
			/>
			<button
				type="submit"
				value="Upload"
				class="btn btn-light"
				style="margin-top: 20px"
			>
				Submit
			</button>
		</form>
		<script>
			function fileValidation() {
				var fileInput = document.getElementById("geojsonfile");

				var filePath = fileInput.value;

				// Allowing file type
				var allowedExtensions = /(\.geojson)$/i;

				if (!allowedExtensions.exec(filePath)) {
					alert("Invalid file type");
					fileInput.value = "";
					return false;
				}
			}
			function createMap() {
				var outPutJson = {};
				var file = document.getElementById("geojsonfile"),
				fr = new FileReader();
				fr.onload = () => {
					var sanitized_result = fr.result.split('base64,')[1];
					var decoded_result = atob(sanitized_result);
					var result = JSON.parse(decoded_result);
					var feature_result = result.features;
					Object.assign(outPutJson, result.type);
					for(let i = 0; i < result.length; i++){
						var obj = feature_result[i];
						var Osensitivity = obj.properties.sensitivity;
						if(Osensitivity == null){
							alert("wrong file format");
							return;
						}
						var sensitivity = 0, 
						d = 0;
						for(let key in Osensitivity){
							sensitivity += Osensitivity[key].value;
							d++;
						}
						sensitivity = sensitivity / d;
						var OExposure = obj.properties.exposure;
						if(OExposure == null){
							alert("Wrong file format")
						}
						var exposure = 0;
						s = 0;
						for(let key in OExposure){
							exposure += OExposure[key].value;
							s++;
						}
						exposure = exposure / s;
						var OAc = obj.properties.ac;
						var m = 0,
						Ac = 0;
						for(let key in OAc){
							Ac += OAc[key].value;
							m++;
						}
						Ac = Ac/m;
					
						var V = sensitivity - Ac;

						var R = V*exposure;
						Object.assign(obj, {"risk": {R}});
						Object.assign(outPutJson, {i:{obj}})
					}
					console.log(outPutJson);
				}
				fr.readAsDataURL(file.files[0]);
			}
		</script>
	</body>
</html>
